@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}


:root {
   --linear-grad: linear-gradient(to right, #98daf8, #0094d4);
   --grad-clr1: #98daf8;
   --grad-clr2: #0094d4;
}


h1{
   margin-top: 20px;
   margin-bottom: 10px;
}


body {
   height: 100vh;
   background: #f6f5f7;
   display: grid;
   place-content: center;
}


.reg-container {
   position: relative;
   width: 850px;
   height: 600px;
   background-color: #fff;
   box-shadow: 25px 30px 55px #5557;
   border-radius: 13px;
   overflow: hidden;
   margin: auto;
}


.register {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 40px;
   transition: all 0.6s ease-in-out;
}


#register-form {
   width: 1500px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; /* Create space between columns */
   padding: 0px 20px;
}


.reg-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 0px; /* Add margin between rows */
   width: calc(50% - 20px);
}


.reg-infield {
   position: relative;
   margin: 2px 10px; /* Adjust margin to reduce space between fields */
   width: calc(50% - 20px); /* Adjust the width as needed */
}


input, select {
   width: 100%;
   padding: 10px 8px;
   background-color: #f3f3f3;
   border: none;
   outline: none;
}


button {
   border-radius: 20px;
   border: none;
   background: var(--grad-clr2);
   color: #fff;
   font-size: 12px;
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: background-color 0.2s; /* Add a transition for smooth color change */
}


/* Change the background color when hovering over the button */
button:hover {
   background: var(--grad-clr1);
}


/* Change the background color when clicking (active state) on the button */
button:active {
   background: #0077a5; /* You can define a different color for the active state */
}


.cancel {
   border-radius: 0;
   width: 100%;
   background-color: grey;
   transition: background-color 0.3s; /* Optional: Add a smooth transition effect */
 }
 .cancel:hover {
   background-color: #404040; /* Change color on hover */
}


.register button {
   margin-top: 15px ;
   margin-bottom: 20px;
   transition: 80ms ease-in;
}


.gender-checkbox {
 display: flex;
 align-items: center;
 padding-top: 12px;
 margin-right: 0;
 margin-left: 0;
 margin-top: 0;
 margin-bottom: 0;
 min-width: 200px; /* Set a minimum width to make it visible */
}


.gender-checkbox input[type="radio"] {
 margin-right: 5px;
 margin-left: 0;
 margin-top: 0;
 margin-bottom: 0;
}


.checkbox-label {
   display: flex;
   align-items: center;
   margin-top: -12px;
   margin-left: -325px; /* Adjust the margin as needed */
 }
 
